infrastructure/orchestration/terraform/etl_pipeline.json
{
    "Comment": "ETL Pipeline: Glue Job -> Lambda Check",
    "StartAt": "RunGlueJob",
    "States": {
        "RunGlueJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "${glue_job_name}"
            },
            "TimeoutSeconds": 1800,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "ETLFailed",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "CheckTable"
        },
        "CheckTable": {
            "Type": "Task",
            "Resource": "${lambda_function_arn}",
            "TimeoutSeconds": 60,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "ETLFailed",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "ETLSuccess"
        },
        "ETLSuccess": {
            "Type": "Succeed",
            "Comment": "ETL pipeline completed successfully"
        },
        "ETLFailed": {
            "Type": "Fail",
            "Comment": "ETL pipeline failed"
        }
    }
}